# copy this file to .env and update the username and password
#  or set these environment variables
METABASE_USER=username@website.com
METABASE_PASS=secretpassword
METABASE_URL=http://localhost:3000
MB_API_KEY=ffffffffffffffffffffffffffffffffffffffffffffffffffffff
